<div>
    <jhi-alert></jhi-alert>

    <div class="mt-4">
        <select class="custom-select">
            <option disabled selected>{{ optioncat }}</option>
            <option value="1" (click)="loadAll()">Tout</option>
            <option *ngFor="let c of categories;" (click)="option(c.name)">{{c.name}}</option>
        </select>
    </div>


    <div id="main mt-5">
        <div class="row">
            <ng-container *ngFor="let stock of stocks;">
                <div class="col-sm-2" style="display: flex; flex-direction: column">
                    <div class="card mt-3" style="flex-grow: 1">
                        <div class="view overlay">
                            <a [routerLink]="['/mainSearch', stock.id, 'view' ]">
                                <img class="card-img-top" src="../../content/images/m1.png" alt="">
                            </a>
                        </div>

                        <div class="card-body">
                            <div>
                                <a [routerLink]="['/mainSearch', stock.id, 'view' ]" class="h4 font-weight-bold blue-text">
                                    <strong>{{stock.name}}</strong>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <h6 class="mb-4">{{stock.priceUnit}} €/kg</h6>
                                </div>
                                <div class="col-sm-3" *ngIf="stock.bio">
                                    <span class="badge badge-success">Bio</span>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-info btn-sm" style="position: absolute;bottom:2%; left:37%">
                                    <span class="d-none d-md-inline">Acheter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>


        <div *ngIf="stocks && stocks.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                    [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>

</div>
