<div class="row justify-content-center">
    <div class="col-5">
            <br>
            <br>
            <h2 id="jhi-holding-heading" jhiTranslate="newLocalApp.holding.home.createOrEditLabelProfil">Create a Holding</h2>
        <div class="card">
            <div class="card-body">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group" [hidden]="!holding.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                [(ngModel)]="holding.id" readonly />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="newLocalApp.holding.siret" for="field_siret">Siret</label>
                            <input type="text" class="form-control" name="siret" id="field_siret"
                                [(ngModel)]="holding.siret" required minlength="14" maxlength="14"/>
                            <div [hidden]="!(editForm.controls.siret?.dirty && editForm.controls.siret?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.siret?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.siret?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 14 }">
                                This field is required to be at least 14 characters.
                                </small>
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.siret?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 14 }">
                                This field cannot be longer than 14 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="newLocalApp.holding.name" for="field_name">Name</label>
                            <input type="text" class="form-control" name="name" id="field_name"
                                [(ngModel)]="holding.name" required minlength="1" maxlength="100"/>
                            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                                This field is required to be at least 1 characters.
                                </small>
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                                This field cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="newLocalApp.holding.description" for="field_description">Description</label>
                            <input type="text" class="form-control" name="description" id="field_description"
                                [(ngModel)]="holding.description" maxlength="300"/>
                            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                                This field cannot be longer than 300 characters.
                                </small>
                            </div>
                        </div>

                    <!--    <div class="form-group">
                            <label class="form-control-label" jhiTranslate="newLocalApp.holding.image" for="field_image">Image</label>
                            <select class="form-control" id="field_image" name="image" [(ngModel)]="holding.image">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="imageOption.id === holding.image?.id ? holding.image : imageOption" *ngFor="let imageOption of images; trackBy: trackImageById">{{imageOption.id}}</option>
                            </select>
                        </div>
-->

<!--                         <div class="form-group">
                                <label class="form-control-label" jhiTranslate="newLocalApp.holding.image"
                                    for="field_image">Image</label>
                                <div>
                                    <img [src]="'data:' + holding.image?.imageContentType + ';base64,' + holding.image?.image"
                                        style="max-height: 100px;" *ngIf="holding.image?.image" alt="holding image" />
                                    <div *ngIf="holding.image?.image" class="form-text text-danger clearfix">
                                        <span class="pull-left">{{holding.image?.imageContentType}},
                                            {{byteSize(holding.image?.image)}}</span>
                                        <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')"
                                            class="btn btn-secondary btn-xs pull-right">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </div>
                                    <input type="file" id="file_image" (change)="setFileData($event, holding, 'image', true)"
                                        accept="image/*" jhiTranslate="entity.action.addimage" />
                                </div>
                                <input type="hidden" class="form-control" name="image" id="field_image"
                                    [(ngModel)]="holding.image" />
                        </div> -->
    
                        <!--<div class="form-group">
                            <label class="form-control-label" jhiTranslate="newLocalApp.holding.location" for="field_location">Location</label>
                            <select class="form-control" id="field_location" name="location" [(ngModel)]="holding.location"  required>
                                <option *ngIf="!editForm.value.location" [ngValue]="null" selected></option>
                                <option [ngValue]="locationOption.id === holding.location?.id ? holding.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
                            </select>
                        </div>-->
 <!--inicio location-->
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group" [hidden]="!location">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                [(ngModel)]="holding" readonly />
                        </div>

                        <div class="form-group">
                                <label class="form-control-label" jhiTranslate="newLocalApp.location.city" for="field_city">City</label>
                                <input type="text" class="form-control" name="city" id="field_city"
                                    [(ngModel)]="location" minlength="1" maxlength="100"/>
                                <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
                                    <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.city?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                                    This field is required to be at least 1 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.city?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                                    This field cannot be longer than 100 characters.
                                    </small>
                                </div>
                         </div>

                         <div class="form-group">
                                <label class="form-control-label" jhiTranslate="newLocalApp.location.country" for="field_country">Country</label>
                                <input type="text" class="form-control" name="country" id="field_country"
                                    [(ngModel)]="location" minlength="1" maxlength="100"/>
                                <div [hidden]="!(editForm.controls.country?.dirty && editForm.controls.country?.invalid)">
                                    <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.country?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                                    This field is required to be at least 1 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.country?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                                    This field cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="newLocalApp.location.zip" for="field_zip">Zip</label>
                                <input type="text" class="form-control" name="zip" id="field_zip"
                                    [(ngModel)]="location" required minlength="1" maxlength="30"/>
                                <div [hidden]="!(editForm.controls.zip?.dirty && editForm.controls.zip?.invalid)">
                                    <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.zip?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.zip?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                                    This field is required to be at least 1 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.zip?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                                    This field cannot be longer than 30 characters.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="newLocalApp.location.address" for="field_address">Address</label>
                                <input type="text" class="form-control" name="address" id="field_address"
                                    [(ngModel)]="location" minlength="1" maxlength="200"/>
                                <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                                    <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.address?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                                    This field is required to be at least 1 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.address?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                                    This field cannot be longer than 200 characters.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="newLocalApp.location.lon" for="field_lon">Lon</label>
                                <input type="number" class="form-control" name="lon" id="field_lon"
                                    [(ngModel)]="location" min="-180" jhiMin="-180" max="180" jhiMax="180"/>
                                <div [hidden]="!(editForm.controls.lon?.dirty && editForm.controls.lon?.invalid)">
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.controls.lon?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: -180 }">
                                        This field should be at least -180.
                                    </small>
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.controls.lon?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 180 }">
                                        This field cannot be more than 180.
                                    </small>
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.controls.lon?.errors?.number" jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="newLocalApp.location.lat" for="field_lat">Lat</label>
                                <input type="number" class="form-control" name="lat" id="field_lat"
                                    [(ngModel)]="location" min="-90" jhiMin="-90" max="90" jhiMax="90"/>
                                <div [hidden]="!(editForm.controls.lat?.dirty && editForm.controls.lat?.invalid)">
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.controls.lat?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: -90 }">
                                        This field should be at least -90.
                                    </small>
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.controls.lat?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 90 }">
                                        This field cannot be more than 90.
                                    </small>
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.controls.lat?.errors?.number" jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="newLocalApp.location.user" for="field_user">User</label>
                                    <select class="form-control" id="field_user" name="user" [(ngModel)]="location" >
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="userOption.id === location.user?.id ? location.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                                    </select>
                                </div>





<!--fin-->



                        
                        <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.location?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="newLocalApp.holding.owner" for="field_owner">Owner</label>
                            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="holding.owner"  required>
                                <option *ngIf="!editForm.value.owner" [ngValue]="null" selected></option>
                                <option [ngValue]="userOption.id === holding.owner?.id ? holding.owner : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                            </select>
                        </div>
                        <div [hidden]="!(editForm.controls.owner?.dirty && editForm.controls.owner?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.owner?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>

<!--botones locacion-->
                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                            </button>



                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>
