<div class="row justify-content-center">
    <div class="col-8 mt-5">
        <div class="row">
            <div class="col-md-10">
                <h2 id="jhi-stock-heading">Exploitation: {{holding.name}}</h2>
            </div>
            <div class="col-md-2">
                <button type="submit" (click)="previousState()" class=" btn btn-warning float-center jh-create-entity create-stock">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour aux exploitations</span>
                </button>
            </div>

            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-body">

                        <div class=row>
                            <div class="col-md-6">
                                <div *ngIf="holding.image">
                                    <img src="{{holding.image.imagePath}}" style="max-width: 100%;" alt="Card image cap" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h5>
                                    <span jhiTranslate="newLocalApp.holding.siret">Siret</span> {{holding.siret}}<br><br>
                                    <span jhiTranslate="newLocalApp.holding.description">Description</span>
                                    {{holding.description}}<br><br>
                                    <span jhiTranslate="newLocalApp.location.city">Ville</span>{{holding.location?.city}}<br><br>
                                    <span jhiTranslate="newLocalApp.location.country">Country</span>{{holding.location?.country}}<br><br>
                                    <span jhiTranslate="newLocalApp.location.zip">Zip</span>{{holding.location?.zip}}<br><br>
                                    <span jhiTranslate="newLocalApp.location.address">Address</span>{{holding.location?.address}}<br><br>
                                </h5>

                                <div class="text-right pr-5">
                                    <button type="button" [routerLink]="['/holdingprofil', holding.id, 'edit']" class="btn btn-primary">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">
                                            Edit</span>
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
