<div class="mt-5">

    <div class="row">
        <div class="col-md-4">
            <!--ONGLET/LIEN-->
            <div>
                <ul class="nav nav-tabs  lighten-3  font-weight-bold " id="myClassicTabShadow" role="tablist">
                    <li class="nav-item">
                        <a (click)="onClickMe(1)" class="nav-link  waves-light show" [class.active]="count==1" id="onglet1"
                            data-toggle="tab" role="tab" aria-controls="profile-classic-shadow" aria-selected="true">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i> En Vente
                        </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="onClickMe(2)" class="nav-link waves-light " [class.active]="count==2" id="onglet2"
                            data-toggle="tab" role="tab" aria-controls="follow-classic-shadow" aria-selected="false">
                            <i class="fa fa-plus" aria-hidden="true"></i> En Ajout
                        </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="onClickMe(3)" class="nav-link waves-light" [class.active]="count==3" id="onglet3"
                            data-toggle="tab" role="tab" aria-controls="contact-classic-shadow" aria-selected="false">
                            <i class="fa fa-check" aria-hidden="true"></i> Terminées
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-1">
            <select class="custom-select-sm form-control form-control-sm">
                <option value="" disabled selected>Catégorie</option>
                <option value="1" (click)="option(-1)">Tout</option>
                <option *ngFor="let catego of categories ;" (click)="option(catego.id)">{{catego.name}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <!--BARRE DE RECHERCE-->
            <div>
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch"
                            placeholder="{{ 'newLocalApp.stock.home.search' | translate }}">
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                            <fa-icon [icon]="'search'"></fa-icon>
                        </button>
                        <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 text-center  ">
            <!--BOUTON CREATION-->
            <div>
                <button id="jh-create-entity" class="btn btn-primary float-center jh-create-entity create-stock"
                    [routerLink]="['/stockManagement/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down" jhiTranslate="newLocalApp.stock.home.createLabel">
                        Create new Stock
                    </span>
                </button>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive text-center" *ngIf="stocks">

                        <table class="table table-striped">
                            <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                    <th>
                                        <span jhiTranslate="newLocalApp.stock.nom">Nom</span>
                                    </th>
                                    <th>
                                        <span jhiTranslate="newLocalApp.stock.id">N°Lot</span>
                                    </th>
                                    <th>
                                        <span jhiTranslate="newLocalApp.stock.bio">bio</span>
                                    </th>
                                    <th>
                                        <span jhiTranslate="newLocalApp.stock.datep">datep</span>
                                    </th>
                                    <th>
                                        <span jhiTranslate="newLocalApp.stock.prix">prix</span>
                                    </th>
                                    <th *ngIf="count!=2">
                                        <span jhiTranslate="newLocalApp.stock.gain">gain</span>
                                    </th>
                                    <th *ngIf="count!=2">
                                        <span jhiTranslate="newLocalApp.stock.qvendu">qvendu</span>
                                    </th>
                                    <th>
                                        <span jhiTranslate="newLocalApp.stock.qtotal">qtotal</span>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody *ngFor="let stock of stocks ;trackBy: trackId">
                                <tr *ngIf="onglet1(stock.available,stock.expiryDate,stock.productType.category.id) || onglet2(stock.available,stock.productType.category.id) || onglet3(stock.available,stock.expiryDate,stock.productType.category.id) ">
                                    <td class="pt-3-half">
                                        <div class="container">
                                            <div class="row">
                                                <div *ngIf="count!=3 && count!=1" class="col-md-1">
                                                    <input type="checkbox" [checked]="bAllcheckbox" (click)="checkboxcheck(stock.id)" />
                                                </div>
                                                <div class="col-md-4">
                                                    <a *ngIf="stock.image" (click)="openFile(stock.imageContentType, stock.image)">
                                                        <img [src]="'data:' + stock.imageContentType + ';base64,' + stock.image"
                                                            style="max-height:50px" alt="stock image" />
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    {{stock.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{stock.id}}</td>
                                    <td>{{stock.bio}}</td>
                                    <td>{{stock.expiryDate | date:'medium'}}</td>
                                    <td>{{stock.priceUnit}}</td>
                                    <td *ngIf="count!=2">{{
                                        ((stock.quantityInit-stock.quantityRemaining)*stock.priceUnit) }} </td>
                                    <td *ngIf="count!=2">{{ (stock.quantityInit-stock.quantityRemaining)}}</td>
                                    <td>{{stock.quantityInit}}</td>

                                    <td class="text-center">
                                        <div class="btn-group flex-btn-group-container">
                                            <button *ngIf="count==2" type="submit" [routerLink]="['/stockManagement', stock.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                            <button *ngIf="count!=3 && count!=1" ype="submit" [routerLink]="['/', { outlets: { popup: 'stockManagement/'+ stock.id + '/delete'} }]"
                                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="container-fluid  text-left" *ngIf="list.length > 0">

                            <div *ngIf="count!=3 && count!=1" class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultChecked2" (click)="checkboxonClickMe()">
                                <label class="custom-control-label" for="defaultChecked2">Tout séléctionner</label>
                                <button *ngIf="cptElementcheckbox > 0" class="btn btn-danger btn-sm" (click)="clickk()">
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
</div>