<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stock">
            <h2><span jhiTranslate="newLocalApp.stock.detail.title">Stock</span> {{stock.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newLocalApp.stock.name">Name</span></dt>
                <dd>
                    <span>{{stock.name}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.description">Description</span></dt>
                <dd>
                    <span>{{stock.description}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.quantityInit">Quantity Init</span></dt>
                <dd>
                    <span>{{stock.quantityInit}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.quantityRemaining">Quantity Remaining</span></dt>
                <dd>
                    <span>{{stock.quantityRemaining}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.priceUnit">Price Unit</span></dt>
                <dd>
                    <span>{{stock.priceUnit}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.image">Image</span></dt>
                <dd>
                    <div *ngIf="stock.image">
                        <a (click)="openFile(stock.imageContentType, stock.image)">
                            <img [src]="'data:' + stock.imageContentType + ';base64,' + stock.image" style="max-width: 100%;" alt="stock image"/>
                        </a>
                        {{stock.imageContentType}}, {{byteSize(stock.image)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.onSaleDate">On Sale Date</span></dt>
                <dd>
                    <span>{{stock.onSaleDate}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.expiryDate">Expiry Date</span></dt>
                <dd>
                    <span>{{stock.expiryDate}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.bio">Bio</span></dt>
                <dd>
                    <span>{{stock.bio}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.available">Available</span></dt>
                <dd>
                    <span>{{stock.available}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.productType">Product Type</span></dt>
                <dd>
                    <div *ngIf="stock.productType">
                        <a [routerLink]="['/product-type', stock.productType?.id, 'view']">{{stock.productType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.holding">Holding</span></dt>
                <dd>
                    <div *ngIf="stock.holding">
                        <a [routerLink]="['/holding', stock.holding?.id, 'view']">{{stock.holding?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newLocalApp.stock.seller">Seller</span></dt>
                <dd>
                    {{stock.seller?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock', stock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
