<div class="container">
    <div class="mt-3 mb-4">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <span>Retrait une heure après dans une boutique</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-warning mt-3" (click)="backcliked()">
                    <span class="d-none d-md-inline">Continuer shopping</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="carts && !btimeout && !isRecap">
        <!-- Article-->
        <div class="col-md-9" *ngIf="isOkpanier; else okPanier">
            <div class="card">
                <div class="card-body">
                    <h4>Articles du panier</h4>
                    <table class="mt-3 table table-hover table-condensed text-left">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Prix(Unitaire)</th>
                                <th>Prix(Total)</th>
                                <th>Quantité</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let cart of carts ;trackBy: trackId;let i = index">
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs">
                                            <a *ngIf="cart.stock.image.image" (click)="openFile(cart.stock.image.imageContentType, cart.stock.image.image)">
                                                <img [src]="'data:' + cart.stock.image.imageContentType + ';base64,' + cart.stock.image.image"
                                                    style="max-height: 30px;" alt="image image" />
                                            </a>
                                        </div>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">{{ cart.stock?.name }}</h4>
                                            <p>{{cart.stock?.description }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">{{cart.stock?.priceUnit}}$</td>
                                <td data-th="Price">{{cart.stock?.priceUnit * cart.quantity}}$</td>
                                <td data-th="Quantity">
                                    <input type="number" [(ngModel)]="listBtM[i].b" (keypress)="nada($event)" class="form-control text-center"
                                        min="1">
                                    <!--value="{{cart.quantity}}"-->
                                    <button class="btn btn-warning btn-sm" (click)="modifier(i)" *ngIf="!btncheck(cart.quantity,listBtM[i].b)">
                                        <span> Modifier</span>
                                    </button>
                                    <div *ngIf="(listBtM[i].err === false)">
                                        <small class="text-muted" color="red">Rupture de stock</small>
                                    </div>
                                </td>
                                <td class="actions" data-th="">
                                    <button type="submit" [routerLink]="['/', { outlets: { popup: 'shopping/'+ cart.id + '/delete'} }]"
                                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                    <div>
                                        <small class="text-muted">Numéro de réference:{{ cart.stock?.id }}</small>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Rentrer Carte-->
        <ng-template #okPanier>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h4>Montant de la transaction: {{ total }} $</h4>
                        <hr>
                        <div>
                            <label>Numéro de carte bancaire:</label>
                            <input type="number" max="999999999">
                        </div>

                        <div>
                            <label>Date d'expiration:</label>
                            <select>
                                <option>Mois</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>

                            <select>
                                <option>Année</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                            </select>
                        </div>

                        <div>
                            <label>Code de vérification:</label>
                            <input type="number" max="999999999">
                        </div>

                        <div class="text-center">
                            <button class="btn btn-warning" (click)="abandonner()">
                                <span class="d-none d-md-inline">Abandonner</span>
                            </button>
                            <button class="btn btn-success" (click)="endTimeout()">
                                <span class="d-none d-md-inline">Valider</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!--Bilan-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>Récapitulatif</h4>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6 class="my-0">Panier</h6>
                            <small class="text-muted">Nombre d'élement</small>
                        </div>
                        <div class="col-sm-4">
                            <span class="badge badge-secondary badge-pill">{{ carts.length }}</span>
                        </div>
                        <div class="col-md-12 mt-3"></div>
                        <div class="col-sm-8">
                            <span>TOTAL</span>
                        </div>
                        <div class="col-sm-4">
                            <strong>{{ total }}$</strong>
                        </div>
                    </div>
                    <div class="text-center" *ngIf="isOkpanier && (carts.length > 0)">
                        <button class="btn btn-success" (click)="startTimeout()">
                            <span class="d-none d-md-inline">Valider</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="btimeout">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-9">
                    <span>Trop longtemps inactive</span>
                </div>
                <div class="col-sm-3 text-right">
                    <button class="btn btn-warning" (click)="returnCard()">
                        <span class="d-none d-md-inline">Revenir au panier</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!--Validation de l'achat-->
    <div class="card" *ngIf="isRecap">
        <div class="card-body">
            <h4>Recapitulatif du panier</h4>
            <table class="mt-5 table table-hover table-condensed text-left">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix(Unitaire)</th>
                        <th>Prix(Total)</th>
                        <th>Quantité</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pur of purchases;">
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs">
                                    <a *ngIf="pur.stock.image.image" (click)="openFile(pur.stock.image.imageContentType, pur.stock.image.image)">
                                        <img [src]="'data:' + pur.stock.image.imageContentType + ';base64,' + pur.stock.image.image"
                                            style="max-height: 30px;" alt="image image" />
                                    </a>
                                </div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">{{ pur.stock?.name }}</h4>
                                    <p>{{pur.stock?.description }}</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">{{pur.stock?.priceUnit}}$</td>
                        <td data-th="Price">{{pur.stock?.priceUnit * pur.quantity}}$</td>
                        <td data-th="Quantity">
                            <span>{{pur.quantity}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <span>TOTAL</span>
                        </td>
                        <td>
                            <strong>{{ total }}$</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>