<div class="modal-header">
  <h4 class="modal-title">Confirmation de la suppression</h4>
  <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span
      aria-hidden="true">x</span>
  </button>
</div>

<div class="modal-body">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <p>Êtes-vous sûr de vouloir supprimer ces élements ?</p>
    </div>
    <div class="col-md-5">
      <button class="btn btn-warning" (click)="activeModal.dismiss('cancel')">Non</button>
      <button class="btn btn-primary" (click)="activeModal.close('ok')">Oui</button>
    </div>
  </div>
</div>