<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productType">
            <h2><span jhiTranslate="newLocalApp.productType.detail.title">Product Type</span> {{productType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newLocalApp.productType.name">Name</span></dt>
                <dd>
                    <span>{{productType.name}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.productType.description">Description</span></dt>
                <dd>
                    <span>{{productType.description}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.productType.category">Category</span></dt>
                <dd>
                    <div *ngIf="productType.category">
                        <a [routerLink]="['/category', productType.category?.id, 'view']">{{productType.category?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newLocalApp.productType.image">Image</span></dt>
                <dd>
                    <span *ngFor="let image of productType.images; let last = last">
                        <a [routerLink]="['/image', image?.id, 'view' ]">{{image.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-type', productType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
