<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="grade">
            <h2><span jhiTranslate="newLocalApp.grade.detail.title">Grade</span> {{grade.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newLocalApp.grade.grade">Grade</span></dt>
                <dd>
                    <span>{{grade.grade}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.grade.nbVoter">Nb Voter</span></dt>
                <dd>
                    <span>{{grade.nbVoter}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.grade.seller">Seller</span></dt>
                <dd>
                    {{grade.seller?.id}}
                </dd>
                <dt><span jhiTranslate="newLocalApp.grade.productType">Product Type</span></dt>
                <dd>
                    <div *ngIf="grade.productType">
                        <a [routerLink]="['/product-type', grade.productType?.id, 'view']">{{grade.productType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grade', grade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
