<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-holding-heading" jhiTranslate="newLocalApp.holding.home.createOrEditLabel">Create or edit a Holding</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!holding.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="holding.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newLocalApp.holding.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="holding.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newLocalApp.holding.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="holding.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newLocalApp.holding.image" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + holding.imageContentType + ';base64,' + holding.image" style="max-height: 100px;" *ngIf="holding.image" alt="holding image"/>
                        <div *ngIf="holding.image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{holding.imageContentType}}, {{byteSize(holding.image)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, holding, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="holding.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="holding.imageContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newLocalApp.holding.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" [(ngModel)]="holding.location" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === holding.location?.id ? holding.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newLocalApp.holding.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" [(ngModel)]="holding.owner" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === holding.owner?.id ? holding.owner : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
