<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseDone">
            <h2><span jhiTranslate="newLocalApp.purchaseDone.detail.title">Purchase Done</span> {{purchaseDone.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newLocalApp.purchaseDone.saleDate">Sale Date</span></dt>
                <dd>
                    <span>{{purchaseDone.saleDate}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.purchaseDone.quantity">Quantity</span></dt>
                <dd>
                    <span>{{purchaseDone.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="newLocalApp.purchaseDone.stock">Stock</span></dt>
                <dd>
                    <div *ngIf="purchaseDone.stock">
                        <a [routerLink]="['/stock', purchaseDone.stock?.id, 'view']">{{purchaseDone.stock?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newLocalApp.purchaseDone.client">Client</span></dt>
                <dd>
                    {{purchaseDone.client?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-done', purchaseDone.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
